<nav class="navbar shadow-sm  navbar-expand-lg navbar-light bg-white p-3">
    <div class="container">
    

      <div class="container-logo">
        <div class="logo">
          <img src="assets/images/logoPortfolio.png" alt="" class="img-fluid">   
        </div>
      
        <span class="title-logo">CodeBeans</span>
      </div> 
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse menu-container" id="navbarSupportedContent">
      <ul class="navbar-nav p-2">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Works</a>

          </li> <li class="nav-item d-lg-none">
            <a class="nav-link" href="#">Contact</a>
          </li>
      </ul>
      <button class="btn btn-primary d-none d-lg-block mx-4 px-4">Contact</button>
    </div>

</div>
  </nav>