*{
    font-family: 'Poppins', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
   
}
a{
   color:rgba(0, 0, 0,0.8) !important;
   transition: all 0.2s;
}
a:hover
{
   color:  rgb(254,208,63) !important;
}
.menu-container
{
   justify-content: end;
}

.menu-container ul
{ 
   gap: 2rem;
}

.container-logo{
   gap: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
   max-width: 2rem;
}
.title-logo{
  
   font-weight: 700;
   font-size: 20px;
}

.navbar{
   position: fixed;
   width: 100%;
   z-index: 1;
   
}
.active{
   
    color:  rgb(216, 172, 28) !important;
}