<div class="container">
        <div class="row container-img justify-content-between align-items-center ">

             

               
            <div class="col-12 col-md-6  " [@slideInOutLeft] >
            <div class="d-flex flex-column container-img justify-content-center align-items-start ">
                <h1 class=" text-center title-main">
                   Hi <span>👋</span>  I am Carlos
                </h1>
                <h2 class="text-center title-second">
                 Software Developer
                </h2>
                <p>
                    Exploring the digital realm through code. My passion lies in creating robust backend applications, leveraging diverse paradigms and architectures, to serve as the backbone of reliable and scalable digital experiences.
                </p>

                <div class="d-flex justify-content-start align-items-start flex-row w-100 mb-4 ">
                   <a  href="" [routerLink]="['/works']"><button class="btn btn-primary">Works</button></a>
                    <button class="btn btn-primary mx-4">Resume</button>
                </div>

                
           <div class="d-flex my-4 w-100 gap-4">
            <a href="#">
            <img src="./assets/images/git.png"  class="red-social">
        </a>
         
            <a href="#"><img src="./assets/images/insta.png"  class="red-social"></a>
            <a href="#">
                <img src="assets/images/linkedin.png"  class="red-social ">
            </a>
           
         <a href="#">   <img src="assets/images/twitter.png"  class="red-social  "></a>
        </div>
            </div>
           </div>


           <div class="d-none d-md-block col-md-6 col-lg-5  wrapper-animation"  >
          
                <img src="assets/images/programmer.png"  class="img-fluid" [@slideInOutRight]>
           
           </div>


        </div>

</div>