<div class="container-img ptb">
    <div class="container">

        <div class="row justify-content-between align-items-center ">
               
            <div class="col-12 col-md-6  " [@slideInOutLeft] >
            <div class="d-flex flex-column  justify-content-center align-items-start ">
                <h1 class=" text-center title-main">
                   Hi <span>👋</span>  I am Carlos
                </h1>
                <h2 class="text-center title-second">
                 Software Developer
                </h2>
                <p>
                    Exploring the digital realm through code. My passion lies in creating robust backend applications, leveraging diverse paradigms and architectures, to serve as the backbone of reliable and scalable digital experiences.
                </p>

                <div class="d-flex justify-content-start align-items-start flex-row w-100 mb-4 ">
                   <a   [routerLink]="['/works']"><button class="btn btn-primary">Works</button></a>
                     <a href="https://drive.google.com/file/d/1q5vEFN8o1z2G-QOpggNlK2X8kPYVnqgI/view?usp=sharing" target="_blank"><button class="btn btn-primary mx-4">Resume</button></a>
                </div>

                
           <div class="d-flex my-4 w-100 gap-4">
            <a href="https://github.com/CarlosFernando21334?tab=repositories" target="_blank">
            <img src="./assets/images/git.png"  class="red-social">
        </a>
         
            <a href="https://www.instagram.com/carlosfernandook/?next=%2F" target="_blank"><img src="./assets/images/insta.png"  class="red-social"></a>
            <a href="https://www.linkedin.com/in/carlos-fernando-mamani-798a57292" target="_blank">
                <img src="assets/images/linkedin.png"  class="red-social ">
            </a>
           
         <a href="https://twitter.com/CarlosF37199327" target="_blank">   <img src="assets/images/twitter.png"  class="red-social  "></a>
        </div>
            </div>
           </div>


           <div class="d-none d-md-block col-md-6 col-lg-5  wrapper-animation"  >
          
                <img src="assets/images/programmer.png"  class="img-fluid" [@slideInOutRight]>
           
           </div>


        </div>

    </div>
</div>